@import 'base/_variables';
@import 'base/_mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

@import 'blocks/_header';
@import 'blocks/_about';
@import 'blocks/_images';
@import 'blocks/_strategic';
@import 'blocks/_services';
@import 'blocks/_team';
@import 'blocks/_testimonials';
@import 'blocks/_blogs';
@import 'blocks/_contacts';
@import 'blocks/_footer';
@import 'blocks/_white';

// @import 'media/_media1439';
// @import 'media/_media1399';
// @import 'media/_media1299';
@import 'media/_media1200';
@import 'media/_media992';
@import 'media/_media768';
@import 'media/_media576';