@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    header {
        .header_inner {
            background-position-y: -170px;
            background-position-x: -200px;
            .header_information {
                width: 100%;
                height: 190px;
                padding-left: 10px;
                padding-top: 28px;
                padding-bottom: 40px;
                h1 {
                    font-size: 50px;
                    letter-spacing: normal;
                    line-height: 70px;
                    margin-left: 0px;
                }
                div {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                a {
                    font-size: 12px;
                }
            }
            .header_links {
                height: 320px;
                padding-left: 10px;
                padding-top: 20px;
                .text {
                    font-size: 25px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
                .links {
                    a {
                        font-size: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    //////////////////////////////
    .about {
        height: 450px;
        width: 100%;
        .container {
            .about_inner {
                height: 450px;
                .about-description {
                    .about-sublime {
                        height: 80px;
                        margin-right: 8px;
                        width: 35%;
                        h4 {
                            font-size: 15px;
                        }
                        h4:first-letter {
                            font-size: 25px;
                        }
                        h3 {
                            font-size: 25px;
                            line-height: 20px;
                        }
                    }
                    .about-text {
                        padding-bottom: 15px;
                        padding-top: 20px;
                        width: 65%;
                        .about-text-first {
                            font-size: 10px
                        }
                        .about-text-second {
                            font-size: 10px;
                        }
                    }
                }
                .about-item {
                    height: 50%;
                    padding-left: 1px;
                    padding-right: 1px;
                    .about-item-content {
                        width: 316px;
                        padding-top: 6px;
                        padding-bottom: 10px;
                        padding-left: 3px;
                        padding-right: 3px;
                        .circle {
                            height: 35px;
                            width: 35px;
                            border: 2px solid $color-first-later;
                            img {
                                height: 50%;
                                width: 85%;
                            }
                        }
                        h6 {
                            font-size: 10px;
                        }
                        .about-item-text {
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
    /////////////////////////////
    .images {
        .container {
            .images-inner {
                padding-bottom: 18px;
                .images-featured {
                    padding-left: 10px;
                    padding-bottom: 18px;
                    h3 {
                        font-size: 20px;
                    }
                    h3:first-letter {
                        font-size: 35px;
                    }
                    nav {
                        ul {
                            li {
                                margin-right: 5px;
                                a {
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                }
            }
            .images-galery {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 100px 100px 100px 100px;
                grid-row-gap: 2px;
            }
        }
    }
    /////////////////////////
    .startegic {
        .container {
            .strategic-inner {
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 1px;
                padding-bottom: 60px;
                h3 {
                    font-size: 25px;
                    margin-bottom: 13px;
                }
                h3:first-letter {
                    font-size: 50px;
                }
                .strategic-text-first {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .strategic-text-second {
                    font-size: 13px;
                    margin-bottom: 25px;
                }
                .strategic-img {
                    padding-left: 0px;
                    padding-right: 0px;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 285px);
                    .strategic-img-content {
                        h4 {
                            font-size: 30px;
                            margin-bottom: 12px;
    
                        }
                        .content-text_1 {
                            font-size: 17px;
                            margin-bottom: 12px;
                        }
                        .content-text_2 {
                            font-size: 14px;
                        }
                    }
                    .content_5 {
                        background-position-x: 100%;
                    }
                    .content_text {
                        padding-top: 30px;
                        padding-left: 15px;
                        padding-right: 5px;
                    }
                    #content_text {
                        padding-top: 25px;
                    }
                }
            }
        }
    }
    //////////////////////////
    .services {
        .container {
            .services-inner {
                height: 320px;
                .services-inner_img {
                    background-position-x: 40%;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    padding-top: 2px;
                    .services-header {
                        padding-left: 5px;
                        padding-top: 6px;
                        margin-bottom: -30px;
                        width: 100%;
                        h3 {
                            font-size: 18px;
                            .p {
                                font-size: 30px;
                                border-bottom: 0;
                            }
                        }
                        h3:first-letter {
                            font-size: 30px;
                        }
                    }
                    .services-content {
                        width: 100%;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        grid-gap: 8px;
                        padding-left: 5px;
                        .services-content-item {
                            padding-right: 4px;
                            .services-content-item__title {
                                font-size: 15px;
                                margin-bottom: 5px;
                            }
                            .services-content-item__text {
                                font-size: 9px;
                                line-height: 13px;
                                letter-spacing: .5px;
                            }
                        }
                    }
                }
            }
        }
    }
    //////////////////////
    .team {
        .container {
            .team-content {
                height: auto;
                padding-bottom: 10px;
                flex-direction: column;
                .team-content-left {
                    padding-top: 12px;
                    padding-left: 5px;
                    width: 100%;
                    h3 {
                        font-size: 20px;
                        .t {
                            font-size: 30px;
                        }
                    }
                    h3:first-letter {
                        font-size: 30px;
                    }
                }
                .team-content-right {
                    padding-top: 10px;
                    padding-left: 5px;
                    width: 100%;
                    .team-content-right__text1 {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    .team-content-right__text2 {
                        font-size: 12px;
                        margin-bottom: 20px;
                    }
                    .team-content-right-people {
                        flex-wrap: wrap;
                        justify-content: space-around;
                        .team-content-right-human {
                            margin-bottom: 20px;
                            .team-content-right-human_img {
                                width: 150px;
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
    //////////////////////////
    .testimonials {
        .container {
            .testimonials__inner {
                height: auto;
                padding-bottom: 10px;
                padding-top: 10px;
                padding-left: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                    margin-left: -225px;
                }
                h3:first-letter {
                    font-size: 30px;
                }
                .testimonials__content {
                    padding-right: 30px;
                    padding-left: 30px;
                    flex-direction: column;
                    align-items: center;
                    .testimonials__text {
                        margin-right: 30px;
                        .testimonials__text-1 {                     
                            font-size: 14px;
                            margin-bottom: 5px;
                        }
                        .testimonials__text-2 {
                            font-size: 12px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    //////////////////////////////////
    .blogs {
        .container {
            .blogs__inner {
                flex-direction: column;
                height: auto;
                .blogs__text {                   
                    h3 {
                        font-size: 25px;
                    }
                    h3:first-letter {
                        font-size: 45px;
                    }
                }
                .blogs__links {                  
                    a {
                        font-size: 10px;
                    }
                }
                .blogs__content {
                    flex-direction: column;
                    align-items: center;
                    .blogs__content__items-1 {
                        width: 215px;
                        margin-bottom: 15px;
                        .blogs__content__img {
                            height: 230px;
                            width: 215px;
                            margin-bottom: 10px;
                        }
                        .blogs__content__text-1 {
                            font-size: 18px;
                            margin-bottom: 9px;
                        }
                        .blogs__content__text-2 {
                            font-size: 15px;
                            margin-bottom: 8px;
                        }
                        .blogs__content__text-3 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    ///////////////////////////
    .footer {
        .container {
            .footer__inner {
                height: 357px;
                .footer__left {
                    padding-top: 40px;
                    .footer__left__text {
                        font-size: 25px;
                    }
                    .footer__links {
                        display: none;
                    }
                }
                .footer__right {     
                    background-position: 80%;
                    padding-left: 9px;
                    padding-top: 255px;              
                    .footer__right-1 {
                        font-size: 27px;
                    }
                    .footer__right-2 {
                        font-size: 27px;
                    }
                }
                .line {
                    display: none;
                }
                .social {
                    display: none;
                }
            }
        }
    }
    /////////////////////////////////
    .contacts {      
        .container {
            .contacts__inner {
                flex-direction: column;
                width: 100%;
                height: 776px;
                .contacts__map {
                    height: 30%;
                    width: 100%;
                }
                .contacts__forms {
                    height: 70%;
                    width: 100%;
                    padding-left: 20px;
                    padding-top: 10px;
                    h3 {
                        font-size: 15px;
                        margin-bottom: 15px;
                        span {
                            font-size: 30px;
                        }
                    }
                    h3:first-letter {
                        font-size: 30px;
                    }
                    .feed-forms {
                        width: 263px;
                        grid-template-rows: 25px 25px 25px 55px 25px;
                        grid-template-columns: 1fr 1fr 1fr;
                        margin-bottom: 25px;
                        .name {
                            grid-column: 1 / 4;
                        }
                        .phone {
                            grid-column: 1 / 4;
                        }
                        .email {
                            grid-column: 1 / 4;
                        }
                        textarea {
                            grid-column: 1 / 4;
                            padding: 1px 12px;
                        }                      
                        button {
                            grid-column: 1 / 2;
                        }
                    }
                    .contacts__data {
                        margin-left: 0;
                        padding-bottom: 25px;
                    }
                    .text {
                       font-size: 12px;
                       margin-top: 2px;
                    }
                    .contacts__line {
                        width: 263px;
                    }
                    .contacts__social {
                        margin-left: 20px;
                        ul {
                            display: flex;
                            li {
                                img {
                                    height: 40px;
                                    width: 40px;
                                }
                                list-style-type: none;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}