@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    /////////////////////////////
    .images {
        .container {
            .images-inner {
                padding-bottom: 18px;
                .images-featured {
                    padding-left: 80px;
                    padding-bottom: 18px;
                    h3 {
                        font-size: 30px;
                    }
                    h3:first-letter {
                        font-size: 70px;
                    }
                    nav {
                        ul {
                            li {
                                margin-right: 16px;
                                a {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .images-galery {
                grid-template-rows: 200px 200px;
                grid-row-gap: 3px;
            }
        }
    }
}