@media (max-width: 1439px) {
    
//////////////////////////
.testimonials {
    .container {
        .testimonials__inner {
            height: auto;
            padding-bottom: 40px;          
            .testimonials__content {
                padding-right: 20px;
            }
        }
    }
}
}