@media (max-width: 1439px) {
    .container {
        //max-width: 1300px;
    }
    header {
    width: 100%;
    background-color: #000e16;
    .header_inner {
        width: 100%;
        height: 100%;
        .header_information {
            width: 100%;
            height: 432px;
            padding-left: 35px;
            padding-top: 115px;
            padding-bottom: 60px;
            h1 {
                
                color: white;
                font-size: 190px;
                letter-spacing: -5px;
                font-family: $font-main;
                font-weight: bold;
                line-height: 170px;
                margin-left: -10px;
            }
            h1:first-letter {
                color: $color-first-later;
            }
            div {
                color: white;
                font-size: 18px;
                font-family: $font-main;
                font-weight: normal;
                margin-bottom: 25px;
            }
            div:first-letter {
                color: $color-first-later;
            }
            a {
                color: $color-first-later;
                font-size: 18px;
                font-family: $font-main;
                font-weight: normal;
                text-decoration: none;
            }
            a:hover {
                color: white;
                border-bottom: 1px solid $color-first-later;
            }
        }
        .header_links {
            width: 100%;
            height: 654px;
            background-image: url(../img/fon_2.png);
            padding-left: 35px;
            padding-top: 65px;
            .text {
                span {
                    color: $color-first-later;
                }
                color: white;
                font-family: $font-main;
                font-weight: bold;
                font-size: 60px;
                line-height: 50px;
                margin-bottom: 55px;
            }
            .links {
                a {
                    color: $color-first-later;
                    font-size: 18px;
                    font-family: $font-main;
                    font-weight: normal;
                    text-decoration: none;
                    margin-right: 30px;
                }
                a:hover {
                    color: white;
                    border-bottom: 1px solid $color-first-later;
                }
            }
        }
    }
}
}