.contacts {
    background-color: $color-background-section;
    .container {
        .contacts__inner {
            width: 100%;
            height: 751px;
            background-color: aqua;
        }
    }
}