.services {
    background-color: $color-background-section;
    .container {
        .services-inner {
            width: 100%;
            height: 460px;
            background-image: url(../img/fon_4.png);
            .services-inner_img {
                height: 100%;
                width: 100%;
                background-image: url(../img/fon_3.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: 40%;
                display: flex;
                justify-content: flex-start;
                .services-header {
                    height: 100%;
                    width: 40%;
                    padding-left: 45px;
                    padding-top: 30px;
                    h3 {
                        font-family: $font-main;
                        font-weight: 600;
                        font-style: normal;
                        font-size: 30px;
                        color: white;
                        span {
                            border-bottom: 1px solid $color-text-grey;
                        }
                        .p {
                            font-size: 70px;
                            border-bottom: 0;
                        }
                    }
                    h3:first-letter {
                        color: $color-first-later;
                        font-size: 70px;
                    }
                }
                .services-content {
                    height: 100%;
                    width: 55%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    .services-content-item {
                        padding-right: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .services-content-item__title {
                            font-family: $font-main;
                            font-weight: normal;
                            font-style: normal;
                            font-size: 18px;
                            color: white;
                            margin-bottom: 22px;
                        }
                        .services-content-item__text {
                            font-family: $font-main;
                            font-weight: normal;
                            font-style: normal;
                            font-size: 11px;
                            color: white;
                        }
                    }
                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }
}